<div class="container mt-5">
  <h1 class="text-center">Student List</h1>
  <div class="d-flex justify-content-end mb-1">
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add Student
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SlNo</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Student-Class</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>mdo</td>
        <td>mdo</td>
        <td>mdo</td>
        <td><button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6 border-end">
            <div class="mb-3">
              <label for="name" class="col-form-label">Name</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="mb-3">
              <label for="age" class="col-form-label">Age</label>
              <span class="text-danger">*</span>
              <input type="number" class="form-control" id="age" />
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">Email</label>
              <span class="text-danger">*</span>
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="studentClass" class="col-form-label"
                >Student Class</label
              >
              <span class="text-danger">*</span>
              <input type="text" class="form-control" id="studentClass" />
            </div>
            <div class="mb-3">
              <label for="address" class="col-form-label">Address</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" id="address" />
            </div>
            <div class="mb-3">
              <label for="phone" class="col-form-label">Phone</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" id="phone" />
            </div>
          </div>
          </div>
          <!-- <div class="mb-3">
            <label for="studentClass" class="col-form-label"></label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
